/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Dark background for header */
    color: white;
}

/* Logo container */
.logo-container {
    display: flex;
    justify-content: center; /* Centers the logo */
    align-items: center;
}

/* Button container */
.buttons-container {
    display: flex;
    justify-content: center; /* Centers buttons */
    gap: 20px;
}

/* Styling for the buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f39c12;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67e22;
}

/* Menu sections */
.menu-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Individual pizza or empanada section */
.pizza-section, .empanadas-section {
    width: 30%;
    padding: 10px;
}

.pizza-section h3, .empanadas-section h1 {
    text-align: center;
}

.masa-option img {
    width: 100%; /* Ensures images fill the width */
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
