/* General */
body {
    margin: 0;
    padding: 0;
    background-color: black; /* Fondo negro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Contenedor principal */
.container {
    text-align: center;
}

/* Logo */
.logo {
    width: 200px;
    margin-bottom: 20px;
}

/* Botones */
.button-container {
    display: flex;
    flex-direction: column; /* Asegura que los botones estén uno debajo del otro */
    gap: 15px; /* Espaciado entre botones */
}

button {
    background-color: orange; /* Botones naranja */
    color: white; /* Texto blanco */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

button:hover {
    background-color: darkorange; /* Cambio de color al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento */
}
