/* Estilos generales del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Contenedor de botones */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.menu-button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 200px;  /* Asegura que todos los botones tengan el mismo tamaño */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #ff6600;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Sección de información de promociones */
.info-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

/* Estilos para el menú */
.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.menu-section img {
    width: 200px;
    margin: 10px;
}

.menu-section h2 {
    font-weight: bold;
    color: #333;
}

/* Estilos para las pizzas y empanadas */
.pizza-section,
.empanadas-section {
    margin-top: 20px;
    padding: 10px;
}

.pizza-section img,
.empanadas-section img {
    width: 200px;
    margin: 10px;
}

.pizza-section h3,
.empanadas-section h3 {
    font-weight: bold;
}

/* Estilos para las secciones de las empanadas */
.empanadas-list img {
    width: 100%;
    max-width: 250px;
    margin: 10px;
}

.empanadas-list .empanada-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.empanadas-list .empanada-item h4 {
    font-weight: bold;
    color: #333;
}

/* Estilos para el slider de imágenes */
.slider {
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
    justify-content: center;
}

.slider img {
    margin-right: 20px;
    width: 250px;
    height: auto;
}

@media (max-width: 768px) {
    .menu-button {
        width: 150px;
        font-size: 14px;
    }

    .buttons-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .pizza-section,
    .empanadas-section {
        flex-direction: column;
    }
}

